<h2>Registrar Incidente</h2>

<form (ngSubmit)="guardarTicket()">

  <label>Título:</label>
  <input
    type="text"
    [(ngModel)]="ticket.titulo"
    name="titulo"
    required
  >

  <br><br>

  <label>Descripción:</label>
  <textarea
    [(ngModel)]="ticket.descripcion"
    name="descripcion"
    required>
  </textarea>

  <br><br>

  <label>Categoría:</label>
  <select
    [(ngModel)]="ticket.categoria"
    name="categoria"
    required>

    <option value="">Seleccione una categoría</option>
    <option value="Hardware">Hardware</option>
    <option value="Software">Software</option>
    <option value="Red">Red</option>

  </select>

  <br><br>

  <label>Prioridad:</label>
  <select
    [(ngModel)]="ticket.prioridad"
    name="prioridad"
    required>

    <option value="">Seleccione una prioridad</option>
    <option value="Alta">Alta</option>
    <option value="Media">Media</option>
    <option value="Baja">Baja</option>

  </select>

  <br><br>

  <button type="submit">
    Guardar Ticket
  </button>

</form>

<p>{{ mensaje }}</p>